# PyCharm
.idea/
*.iml
*.iws
*.iws.iml
*.ipr

# Virtual Environment
venv/
venv_weather/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Other
output_json/
output_text/

# Environment
.env
.test.env
*.env*
